<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= link_to t(".sample_app"), Settings.url.home_page %>
  <%= t(".content") %>
  <%= link_to t(".learn_enough"), Settings.url.learn_enough %>,
  <%= link_to t(".content_continue"), Settings.url.screen_casts %>
  <%= t(".sample_app") %>
</p>
