<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<p>
  <%= link_to t(".sample_app"), Settings.url.home_page %>
  <%= t(".content") %>
  <%= link_to t(".learn_enough"), "https://www.learnenough.com" %>,
  <%= link_to t(".content_continue"), "https://screencasts.railstutorial.org" %>
  <%= t(".sample_app") %>
</p>
