<h1><%= t(".h1")  %></h1>
<p><%= t(".content") %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token,
  email: @user.email) %>
<p><%= t(".content_continue") %></p>
<p><%= t(".content_finally") %></p>
